<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Weather App</title>
</head>
<body>
    <div class="weather-app">

    <h2>Check The Weather </h2>

      {% for content in photos %}
            {{ content | safe }} {# Render HTML tags safely #}
        {% endfor %}

        <h2 id="description"> {{description}} </h2>

    <h2 id="selected-city-weather"> {{weather}} </h2>

    <h1 id="selected-city"> {{city}} </h1>


    <form id="form" method="post">
        <div id="city-input-container">
            <input id="city-input" type="text" name="city" required>
            <label id="label">enter city</label>
            <button id="submit-city" type="submit" value="check weather">check</button>
        </div>
    </form>

    </div>

</body>
</html>